/* .bg{
    width: 100%;
    height:auto;
	min-height:100vh;
    background-image:url(../images/bg_auth_7.jpg);
    background-size: 100% 100%;
    background-position: top center;
} */

.bg {
    width: 100%;
    min-height: 100vh;
    background-image: url(/images/bg_auth_7.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.content{
    margin-top: 20%;
}

.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.InputStyle{
    border-radius: 25px;
    border: solid 1px white;
    background: transparent;
    width: 300px;
    padding: 10px 20px;
}


input,input::-webkit-input-placeholder {
    font-size: 12px;
    color:white;
}

.social-btn{
    position: absolute; 
    bottom: 20px;
    left: 47%;
}

i{
    padding:5px;
    color:white;
}

input, input:focus{
    border: solid 1px white;
    outline:0;
    -webkit-appearance:none;
    box-shadow: nones;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.thirdLine{
    font-weight: 350;
    font-size:15px;
    margin-bottom: 15%;
    color: white;
}

.secondLine{
    font-size: 25px;
    color: white;
}

@media only screen and (max-width: 600px) {
    .secondLine{
        font-size: 15px;
    }
}

.firstLine{
    font-size: 30px;
    color: white;
}

@media only screen and (max-width: 600px) {
    .firstLine{
        font-size: 20px;
    }
}
